In [2]:
import pandas as pd 
import matplotlib.pyplot as plt 
import seaborn as sns

In [18]:
df = pd.read_csv('vitals_sheet.csv')

In [19]:
df[['Systolic', 'Diastolic']] = df['BP'].str.split('/', expand=True)
df

              TIME      BP  PULSE  Medication Systolic Diastolic
0   5/8/2025 15:00  119/65     53         NaN      119        65
1    5/9/2025 9:30  120/85     69  Metropolol      120        85
2   5/9/2025 11:15  139/74     54         NaN      139        74
3  2025-05-09 1230  111/68     68         NaN      111        68
4  5/11/2025 11:00  135/80     60  Metropolol      135        80
5  5/11/2025 19:00  129/49     60  Metropolol      129        49
6   5/12/2025 9:00  123/82     63  Metropolol      123        82
7  5/12/2025 17:00  114/78     68         NaN      114        78
8  5/12/2025 19:00  116/67     69  Metropolol      116        67